<div bgcolor="#f4f4f4" marginwidth="0" marginheight="0" style="margin:0;padding:0;background:aliceblue">
<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="aliceblue" style="background:aliceblue"><tbody><tr><td>

  <table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tbody><tr>
      <td height="30" style="font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr>
      <td valign="middle" style="padding:20px 0;text-align:center">
        <a href="http://www.puanjai.com/" style="display:inline-block" target="_blank">
          <img src="http://i.imgur.com/zATr9P3.png" alt="alt text" height="70" width="210" border="0" class="CToWUd">
        </a>
      </td>

    </tr>
    <tr>
      <td height="10" style="font-size:0;line-height:0">&nbsp;</td>
    </tr>
  </tbody>
 </table>
  
    <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="background:#ffffff">
      
<tbody><tr>
  <td>
    
  </td>
</tr>


<tr>
  <td style="  border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5;">
    
    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
      <tbody><tr>
        <td style="padding:17px 30px;letter-spacing:1px;font-weight:300;background-color:#0e98d7;color:#ffffff;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:24px;line-height:24px">
          <div>
            <img src="https://www.digitalocean.com/assets/community/icons/icon_new-question-7fd66f4c52e9ab2a67c9357e8ae8627c.png" alt="Answer" border="0" style="float:left;margin-right:10px;margin-top:2px" class="CToWUd">
            คําตอบ
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding:30px 30px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#666666;text-align:left">
          <p style="padding-bottom:15px;font-weight:500;margin:0">สวัสดีครับ <%= question.owner.username %>,</p>
          <p style="border-bottom:1px solid #ddd;margin:0;padding-bottom:20px">คุณได้ <strong>ตําตอบ</strong> จากคําถาม "<%= question.name %>" ของคุณ</p>
        </td>
      </tr>
      <tr>
        <td style="padding:0 30px 30px;font-family:helvetica neue,helvetica,arial,sans-serif;font-weight:normal"> 
          <div style="padding:0 15px;color:#666666;line-height:25px;text-align:left">
            <%- question.body %>  
          </div>
          <div style="font-size:12px;text-align:left;padding:10px 15px 25px 15px;border-bottom:1px solid #ddd">
            <a href='http://www.puanjai.com/questions/<%= question._id %>' style="color:#0e98d7;text-decoration:none" target="_blank">คําตอบนี้มาจากคําถาม <strong>“<%= question.name %>”</strong></a>
          </div>
        </td>
      </tr>
      <tr> 
        <td>
          <div style="padding:0px 30px 25px">
            
            <a href='http://www.puanjai.com/questions/<%= question._id %>' style="color:#000000;background-color:#FFF9AA;font-size:15px;font-weight:bold;border:1px solid #dddddd;font-family:Helvetica,Arial,sans-serif;text-transform:uppercase;text-align:center;letter-spacing:1px;text-decoration:none;line-height:60px;display:block;width:100%;min-height:60px;color:#000000;margin:0 auto" target="_blank">ดูคําตอบที่เพื่อนใจ</a>
          </div>
        </td> 
    </tr> 

    </tbody></table>

  </td>
</tr>
    </tbody></table>
  
  <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
    <tbody><tr>
      <td style="text-align:center;padding:20px 0px 5px 0px;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;color:#888888">
        © เพื่อนใจ | 
        <a style="color:#888888" href="mailto:puanjaicom@gmail.com" target="_blank">puanjai.com@gmail.com</a>
        
      </td>
    </tr>
    <tr>
      <td style="text-align:center;padding:10px 0px 20px 0px;font-family:sans-serif;font-size:12px;line-height:18px;color:#888888">
        <a href="https://www.facebook.com/pages/%E0%B9%80%E0%B8%9E%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%99%E0%B9%83%E0%B8%88/1592540364334390?ref=hl" target="_blank"><img src="https://assets.digitalocean.com/email/facebook-icon.png" style="border:none" height="35px" width="35px" class="CToWUd"></a>
      </td>
    </tr>
  </tbody></table>
  

</td></tr></tbody></table>
<img src="http://mandrillapp.com/track/open.php?u=30270081&amp;id=842458000b604d23a2d82d49fe0b8720" height="1" width="1" class="CToWUd"></div>